@import url("https://fonts.googleapis.com/css2?family=Sen&display=swap");

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
  font-family: Sen;
}

a,
p,
img,
h1,
h2,
h3 {
  padding: 0px;
  margin: 0px;
}

/* ESTILOS GERAIS */

.btn-white {
  margin-left: 60px;
  padding: 5px 25px;
  color: #222222;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  transition: background 0.6s;
}

.btn-white:hover {
  background-color: #d95d57;
  color: #ffffff;
  transition: 0.3s;
}

.btn-none {
  margin-left: 60px;
  padding: 5px 25px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  border: 1px solid #fff;
  border-radius: 4px;
  transition: background 0.6s;
}

.btn-none:hover {
  color: #000000;
  background-color: #ffffff;
  transition: 0.6s;
}

.btn-red {
  padding: 5px 25px;
  color: #ffffff;
  background-color: #d95d57;
  font-size: 16px;
  font-weight: bold;
  border-radius: 4px;
  transition: background 0.6s;
}

.btn-red:hover {
  background-color: #222222;
  color: #ffffff;
  transition: 0.3s;
}

.btn-black {
  padding: 8px 25px;
  background-color: #222222;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  border-radius: 4px;
  transition: background 0.6s;
  cursor: pointer;
}

.btn-black:hover {
  background-color: #d95d57;
  transition: 0.6s;
}

.active,
.active:hover {
  border: 1px solid #fff;
  border-radius: 4px;
}

/* HEADER */

.covid-inform {
  width: 100%;
  background-color: #222222;
  padding: 15px 0px;
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
}

.covid-inform p {
  font-size: 16px;
  color: #ffffff;
  align-self: center;
  margin-left: 10px;
  flex-wrap: wrap;
}

.announce {
  font-size: 16px;
  color: #ffffff;
  background-color: #d95d57;
  padding: 8px 20px;
  border-radius: 100px;
  cursor: pointer;
  margin-right: 10px;
}

/* HEADER - menu */

.menu {
  background-color: #d95d57;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: 250px 1fr 100px;
  align-items: center;
}

.logo {
  padding: 10px;
  border-radius: 5px;
  margin-left: 50px;
  justify-self: left;
}

.menu-list {
  justify-self: right;
}

.menu-list a {
  margin-right: 30px;
  color: #ffffff;
  font-size: 20px;
  padding: 5px 10px;
}

.menu-list a:hover {
  border: 1px solid #fff;
  border-radius: 4px;
}

.cart-shop {
  justify-self: right;
  margin-right: 60px;
  background-color: #222222;
  padding: 3px 15px;
  border-radius: 4px;
}

.cart-shop img {
  max-width: 24px;
  text-align: center;
}

/* FOOTER  */

.footer {
  width: 100%;
  height: 187px;
  background-color: #333;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-content: center;
  border-top: 1px solid #333;
}
.footer p {
  color: #ffffff;
  font-size: 12px;
  justify-self: center;
  align-self: end;
  padding-top: 140px;
}

.footer-logo {
  padding: 40px 0px 0px 60px;
}

.social-media {
  margin-left: 201px;
  margin-top: 40px;
}

.social-media a {
  padding: 25px 8px 5px 10px;
  margin-right: 20px;
}

.social-media img {
  max-width: 30px;
  max-height: 30px;
}

/* HOME PAGE \/ START */

.intro-home {
  width: 100%;
  height: 550px;
  background-image: url(/img/home/intro-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: inset 0px -200px 300px #000;
}

.intro-home h1 {
  padding: 120px 0px 0px 60px;
  color: #ffffff;
  font-size: 64px;
  color: #ffffff;
  width: 480px;
}

.intro-home p {
  padding: 10px 0px 30px 60px;
  color: #ffffff;
  font-size: 18px;
  width: 420px;
  line-height: 26px;
}

/* products - home */

.product-home {
  padding: 60px;
  margin-bottom: 40px;
}

.product-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
  margin: 10px 0px 50px 0px;
}

.product-info h2 {
  font-size: 42px;
  color: #222222;
  grid-column: 1;
}

.product-info p {
  font-size: 18px;
  color: #222222;
  text-transform: uppercase;
}

.product-info span {
  font-size: 16px;
  line-height: 24px;
  width: 526px;
  margin-top: -25px;
  justify-self: end;
}

.products {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  justify-content: center;
  gap: 80px;
}

.item-one span,
.item-two span,
.item-thre span {
  position: relative;
  display: block;
  margin-top: 25px;
  width: 350px;
  height: 70px;
  font-size: 16px;
  line-height: 24px;
}

.img-item {
  width: 350px;
  height: 350px;
  color: #ffffff;
  background-color: #222222;
  font-size: 40px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 5px;
}

.img-item h3 {
  padding: 40px;
}

.img-item p {
  text-align: center;
  width: 200px;
  margin: 0 auto;
}
.item-two p {
  margin-top: 25px;
}

.item-one img {
  position: relative;
  width: 165px;
  height: 165px;
  top: 40px;
  left: 270px;
}

.item-two img {
  position: relative;
  width: 160px;
  height: 139px;
  top: 55px;
  left: 225px;
}

.item-thre img {
  position: relative;
  width: 124px;
  height: 166px;
  top: 45px;
  right: -270px;
}

/* covid info - home */

.covid-info {
  width: 100%;
  height: 550px;
  background-image: url(img/home/read-home.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-content: center;
  box-shadow: inset 0px -200px 400px #111111;
}

.info-covid {
  grid-column: 2;
  display: grid;
  align-items: center;
  justify-self: end;
  margin-right: 60px;
}

.info-covid h2 {
  font-size: 42px;
  color: #ffffff;
  width: 500px;
  text-align: right;
  line-height: 52px;
  letter-spacing: 1px;
}

.info-covid p {
  font-size: 18px;
  line-height: 26px;
  color: #ffffff;
  text-align: right;
  width: 409px;
  justify-self: end;
  margin: 20px;
}

.info-covid a {
  justify-self: end;
}

/* covid info - home  /\ */

/* shop home - \/ */

.shop-home {
  display: grid;
  gap: 40px;
  margin: 60px 70px 120px 70px;
}

.subtitle-shop-home p {
  font-size: 18px;
  text-transform: uppercase;
  color: #222222;
  margin-bottom: 8px;
}

.subtitle-shop-home h2 {
  font-size: 42px;
  color: #222222;
}

.shop-home-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
  text-align: center;
}

.shop-item-home h3 {
  font-size: 20px;
  font-weight: normal;
  margin: 20px 0px 2px 0px;
  color: #222222;
}
.shop-item-home span {
  font-size: 14px;
  font-weight: bold;
  color: #222222;
}

.shop-item-home div {
  margin-bottom: 20px;
}

.shop-item-home img {
  border-radius: 4px;
}

.shop-item-home .price-red {
  color: #d95d57;
  text-decoration: line-through;
  margin-right: 15px;
}

.shop-home .btn-black {
  margin-top: 30px;
  justify-self: center;
}

/* shop home - /\ */

/* Shop Local \/  */

.shop-local {
  display: grid;
  grid-template-columns: 1fr 936px;
  margin: 0px 60px 120px 60px;
}

.shop-info {
  width: 936px;
  height: 550px;
  grid-column: 2;
  display: grid;
  justify-content: center;
  text-align: left;
  background-color: #222222;
  border-radius: 4px;
  margin-left: -60px;
}

.shop-info h2 {
  font-size: 42px;
  color: #ffffff;
  margin-top: 40px;
  margin-left: 40px;
}

.shop-info p {
  text-align: left;
  justify-self: center;
  margin: -30px 0px 0px 40px;
  font-size: 16px;
  color: #fff;
  width: 400px;
  line-height: 24px;
}

.shop-info span {
  margin-left: 40px;
  margin-top: -40px;
  font-weight: bold;
  color: #ffffff;
}

.shop-local img {
  border-radius: 4px;
  grid-column: 1;
  grid-row: 1;
  align-self: center;
  justify-self: center;
  position: relative;
  left: 57px;
}

/* ABOUT PAGE \/ START */

.intro-about {
  height: 550px;
  background-image: url(img/about/intro-about.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: inset 0px -200px 300px #000;
}

.intro-about h1 {
  padding: 120px 0px 0px 60px;
  color: #ffffff;
  font-size: 64px;
  color: #ffffff;
  width: 480px;
}

.intro-about p {
  padding: 10px 0px 30px 60px;
  color: #ffffff;
  font-size: 18px;
  width: 420px;
  line-height: 26px;
}

/* QUALIDADE */

.quote-about {
  margin: 60px 0px 60px 0px;
  text-align: center;
  color: #222222;
}

.quote-about span {
  font-size: 18px;
  text-transform: uppercase;
}

.quote-about h2 {
  font-size: 42px;
  margin: 20px 0px 10px 0px;
}

.box-reasons {
  color: #222222;
  display: grid;
  grid-template-columns: repeat(4, 280px);
  gap: 0px 40px;
  grid-template-rows: 50px 50px 129px;
  justify-content: center;
  font-size: 18px;
}
.reasons h3 {
  font-size: 24px;
  padding: 20px 0px 10px 0px;
}

/* OWNERS  */

.the-owners {
  margin: 60px 120px 60px 120px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.textbox {
  width: 720px;
  /* height: 860px; */
  background-color: #222222;
  border-radius: 4px;
  grid-column: 2;
  display: grid;
  grid-template-columns: 220px 480px;
}

.textbox h3 {
  color: #ffffff;
  font-size: 36px;
  text-align: center;
  padding: 100px 0px 20px 0px;
  grid-column: 2;
  justify-self: left;
}

.textbox p {
  justify-self: center;
  color: #ffffff;
  font-size: 16px;
  grid-column: 2;
  padding-bottom: 100px;
  width: 420px;
  line-height: 22px;
  text-align: left;
}

.the-owners img {
  max-height: 760px;
  margin-top: 37px;
  border-radius: 4px;
  grid-column: 1;
  grid-row: 1;
  position: absolute;
  z-index: 1;
}

.john-jane {
  display: grid;
  grid-template-columns: 337px 337px;
  justify-content: center;
  gap: 200px;
  padding: 70px 0px 70px 0px;
}

.john-jane img {
  max-width: 220px;
}

.owners {
  display: grid;
  justify-items: center;
  gap: 30px;
  color: #222222;
  line-height: 22px;
  text-align: center;
}

.owners h3 {
  font-size: 24px;
  margin-bottom: -15px;
}

/* NEED HELP */

.need-help {
  width: 100%;
  height: 550px;
  background-image: url(/img/about/footer-about.jpg);
  box-shadow: inset 0px -80px 40px #333;
}

.need-help h2 {
  padding: 140px 0px 0px 60px;
  color: #ffffff;
  font-size: 64px;
  color: #ffffff;
  width: 480px;
}

.need-help p {
  padding: 10px 0px 30px 60px;
  color: #ffffff;
  font-size: 18px;
  width: 420px;
  line-height: 26px;
}

/* ABOUT PAGE /\ END */
